<h2>Welcome, <%= current_user.username %>!</h2>

<h3>Today's Schedule:</h3>

<h3>Weekly Schedule:</h3>

<h3>Your Courses:</h3>
    <% current_user.courses.each do |course| %>
        <a href="../courses/<%= course.slug %>"><%= course.name %></a><br>
    <% end %>

<h3>Your Teachers:</h3>
    <ol>
        <% current_user.teachers.uniq.each do |teacher| %>
            <li><%= teacher.username %></li>
        <% end %>
    <ol>