<h2>Student Sign Up</h2>

<form method="POST" action="/students/signup">

    <label for="username">Name:</label>
    <input type="text" name="username" placeholder="Enter Name Here" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password Here" required><br>

    <input type="submit" value="Sign Up">

</form>