<h2>Teacher Login</h2>

<form method="POST" action="/teachers/login">

    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Enter Name Here" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password Here" required><br>

    <input type="submit" value="Login">

</form>