<h2>Teacher Sign Up</h2>
<% unless locals.empty? %>
    <p class="message"><%= message%></p>
<% end %>

<form method="POST" action="/teachers/signup">

    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Enter Name Here" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password Here" required><br>

    <input type="submit" value="Sign Up">

</form>