<h2>Create a New Course</h2>

<form method="POST" action="/courses">

    <label for="name">Course Name:</label>
    <input type="text" name="name" placeholder="Enter Course Name Here" required><br>

    <label for="description">Description:</label>
    <input type="text" name="description" placeholder="Enter Description Here" required><br>

    <label for="capacity">Capacity:</label>
    <input type="integer" name="capacity" placeholder="Enter Capacity Here" required><br>

    <label for="password">Location:</label>
    <input type="text" name="location" placeholder="Enter Location Here" required><br>

    <input type="submit" value="Create Course">

</form>