<h2><%= @course.name %></h2>
<h3>Description: </h3>
<p><%= @course.description %></p>

<h3>Teachers: </h3>

<h3>Capacity: <%= @course.capacity %></h3>
<h3>Enrollement (Occupancy) </h3>
<h3>Location: <%= @course.location %></h3>

<h3>Students: </h3>